 /* <weight>: Use a value from 100 to 700
 <uniquifier>: Use a unique and descriptive class name */

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    max-width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Google Sans Flex","sans-serif";
    color:#ba3808;
}

.p-card:hover .project-text {
    opacity:1;
    filter: brightness(100%);
}

.project-text {
    opacity: 0;
    position: absolute;
    z-index: 2;
    color: #f4ddcb;
    font-weight: medium;
    font-size:25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    transition: all 0.5s ease;

}


small {
    text-size:0.1rem;
    color: #f4ddcb;
}


body {
    background-color: #f4ddcb;
}

.bold {
    font-weight: bold;
}

.sub-titles {
    margin: 20px 38px;
    font-weight: bold;
}

header {
    display: flex;
    padding: 20px 40px;
    justify-content:space-between;
    font-size: 1rem;
}
.Logo {
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

.Logo:hover {
    color: #2e0303;
    /*cool hover effect*/
}

.main-navbar {
    list-style-type: none;
    text-align: right;
}

.main-navbar li {
    display: inline-flex;
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.main-navbar li a{
    text-decoration:none;
}

.main-navbar li a:hover {
    color: #2e0303;
}

.project-navbar li {
    color:#ba3808;
}

.project-navbar li a:hover {
    color: #2e0303;
}

.p-heading {
    font-weight: bold;
}

.projects-navbar {
    display:flex;
    padding: 20px 40px; /*42px if p-heading included*/
}

.projects-navbar ul{
    display: flex;
    font-size: 1rem;
}

.projects-navbar li {
    list-style-type:none;
    text-decoration:none;
    padding-right:40px;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.projects-navbar li a {
    text-decoration:none;
}

.projects.navbar li a:hover{
    color: #2e0303;
}

.home-container {
    text-align: center;
    height:500px;
    /* padding:70px 0px; */
    border-radius: 13px;
    background-image:url("../img/home-photo.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    margin: 0 30px;
    /* background-size: contain; */
    padding: 0 30px;
}

.home-container a {
    text-decoration:none;
    height:500px;
}


.home-text {
    font-weight: normal;
    font-size: 1rem;
    color: #f4ddcb;
    text-align: left;
    padding-left:40px;
    width:480px;


}
.Peperi {
    letter-spacing: 5px;
    padding-left:40px;
    padding-bottom: 10px;
    font-weight: normal;
    font-size: 3rem;
    color: #f4ddcb;
    text-align: left;
    padding-top:220px;

}

.button-container {
    display:flex;
    padding-left:40px;
}
.home-button {
    all: unset; 
    margin: 20px 0;
    transition: all 0.3s ease 0s;
    padding: 8px 13px;
    font-size: 0.8rem;

    border-radius: 50px;
    text-decoration: none;
    text-align:center;
    appearance: none;
    font: inherit;
    background-color:#f4ddcb;
    color: #ba3808;

}

.home-button:hover {
    color: rgb(236, 196, 173);
    border: 2px solid #f4ddcb;
    background-color:rgba(190, 202, 169, 0.2);

}

/* .card1 {
    background-image: url("../img/card1.png");
}
.card1:hover {
    background-image: url("../img/card1_hover.png");
} */

.p-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0,1fr)); /*: repeat(3, 1fr) means 3 columns*/
    padding: 1px;
    gap: 10px;
    margin: 0 30px;
    grid-auto-rows:auto;

    grid-auto-flow:row dense;
}

.card-img {
    max-width: 100%;
    height: auto;
    display:block;
    object-fit: cover;
}

.p-card:hover .card-img{
    transition:opacity 0.5s ease;
    filter: brightness(65%);
    
}

.hidden {
    display: none !important;
}

.p-card {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    display:block;
    object-fit: cover;
}


/* .p-button {
    background-color:rgba(190, 202, 169, 0.2);
    color: rgba(231, 222, 206,1);
    border: 2px solid #e7dece;
    border-radius: 50px;
    font-size: 1rem;
    transition: all 0.3s ease 0s;
    position: absolute;
    z-index: 2;
    bottom: 12px;
    right: 15px;
    text-decoration: none;
    text-align:center;
    padding: 3px 8px;
    font-size: 0.85rem;
}

.p-button:hover {
    background-color:#e7dece;
    color: #ba3808;
} */

.about-container {
    padding-top:80px;
}

.about-grid {
    margin: 0 5vw;
    margin-top:30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.6vw;
}

.about-grid h4{
    padding-bottom: 20px;
}

.about-container h3{
    margin-left: 70px;
}



.about-item1 {
    width:20vw;
}

.about-img-class {
}

.about-item2 {
    width:32.5vw;
    padding:0 70px;
    padding-top: 9%;
    height: 100%;
    position:relative;
    box-sizing: border-box;


}

.borderCanvas, .borderCanvas2 {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    pointer-events: none;
}

.about-text-con{
    position: relative;
    z-index:2;
}

.about-item3 {
    width:20vw;
    padding:0 70px;
    padding-top: 9%;
    height: 100%;
    position:relative;
    box-sizing: border-box;
    background-color: black;

}

/* .about-column2 {
    width:200px;

    background-image:url("../img/about-img.png");
    background-size:contain;
    background-repeat:no-repeat;
    
} */


.about-head {
    text-align: left;
    font-weight:400;

}

.about-text {
    text-align: left;
}

.contact-container {
    margin: 0 30px;
    text-align: center;
    margin: 60px 0;
}

.contact-container ul {
    list-style-type: none;

}

.contact-container li {
    display: inline-flex;
    padding: 0 10px;
}

.contact-container li a{
    text-decoration: none;
}

.contact-container li a:hover {
    text-decoration: underline;
}

@media screen and (max-width:768px) {
    .about-grid {
        grid-template-columns: 1fr;
        gap:0;
    }
}

@media screen and (max-width: 480px) {
    .home-text {
        
    }

    .Peperi {
    }

    .button-container {
    }

    .main-navbar li {
        padding:0 10px;
    }

    .about-column2 {
        padding-top:20px;
        width:200px;
    }

    .project-text {
        font-size:1rem;
    }

    .Peperi {
        font-size:3rem;
    }

    .home-text {
        font-size:1rem;
        max-width:410px;

    }

    .home-button {
        margin: 15px 0;
        padding: 5px 10px;
        font-size: 0.9rem;
    }

    .home-container {
        padding: 50px 0;
    }

    .p-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .about-column2 {
    padding-left: 20px;
    padding-right: 0;
    
    }

    .about-column2 {
    padding-right: 0;
    }

    .home-container {
        background-repeat: repeat;
    }

    .about-column1 {
        padding-right: 0px;
    }

    /* .about-column2 {
        width:0;
        background-image:url("../img/about-img.png");
        background-size:contain;
        background-repeat:no-repeat;
    } */

    .about-text {
        /* width:800; */
    }

    .about-img-class {
        float:none;
        display:block;
        width:auto;
        margin: 0 auto 15px;
    }

    


}

@media screen and (max-width: 1024px) {
    .about-column2 {
        margin-top:50px;
        width:230px;
    }

    .about-text {
        width:300px
    }

    .project-text {
        font-size:20px;
    }



    .Peperi {
        font-size:3rem;
    }

    .home-text {
        font-size:1rem;
        max-width:410px;
    }

    .Peperi {
        padding-top: 280px;
    }

    .home-button {
        margin: 15px 0;
        padding: 5px 10px;
        font-size: 0.9rem;
    }

    .home-container {
        padding: 50px 0;
    }

    .p-grid {
        grid-template-columns: 1fr;
    }

    .about-column2 {
    padding-left: 20px;
    padding-right: 0;
    
    }

    .about-column2 {
    padding-right: 0;
    }

    .home-container {
        background-repeat: repeat;

    }
    /* .about-img {

        width: 500px;
        height: 200px;
        border-radius:100px;
        object-fit: cover;
    } */
}